.App-header {
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-logo {
  height: 100px;
  width: auto;
  margin-top: 10px;
}

.Menu-icon {
  font-size: 28px;
  color: #5C5C5C;
  margin-right: 15px;
  z-index: 2;
}

#box-header {
  margin-left: 50px;
  margin-top: 30px;
  color: #434343;
  font-weight: 800;
}

.icon {
  margin-right: 0px; 
  vertical-align: -2px; 
}

.dashboard-box {
  width: 300px;
  height: 180px;
  background-color: #d7d7d7;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
}

#box-message-big {
  text-align: center;
  color: #5C5C5C;
  font-weight: 800;
}

#box-message-small {
  text-align: center;
  margin-top: -10px;
  color: #5C5C5C;
  font-weight: 800;
}

.add-icon {
  font-size: 28px;
  color: #5C5C5C;
  margin-right: 15px;
  background-color: #d7d7d7;
  padding: 20px;
  border-radius: 20px;
}

.add-box {
  text-align: center;
  margin-top: 40px;
}

.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 1s ease-in-out;
  transform: translateX(100%);
}

.App-header .Menu-icon {
  cursor: pointer;
}

.App-header .Menu-icon:active {
  color: #ccc;
}

/* Slide in animation */
.App .side-menu {
  transform: translateX(0);
}






